body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 16px;
}

/* has container class and are divs parent of h2 tags*/
.container div h2 {
  text-align: center;
}

.intro {
  margin: -16px;
  padding: 16px;
  background-color: #925300;
  color: white;
  text-align: center;
}

#profile-image {
  height: 400px;

  border-radius: 16px;
}

.social-links img {
  height: 40px;
  width: 40px;
}

.social-links a {
  text-decoration: none;
  margin: auto 16px;
}

table {
  width: 100%;
}

table,
tr,
td,
th {
  border: 1px solid;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
}

p {
  font-size: 1.5rem;
  line-height: 2rem;
}