/* types: print, screen, all */

/* body {
  color: white;
} */

@media print {
  body {
    background-color: gray;
    color: black;
  }
}

body {
  font-size: 1.5rem;
}

@media screen and (orientation: portrait) {
  body::after {
    content: 'Portrait';
  }
}

@media screen and (orientation: landscape) {
  body::after {
    content: 'Landscape';
    /* font-size: 2rem; */
  }
}

/* Up to 500px this media query is applied */
@media (max-width: 500px) {
  body {
    background-color: lightgreen;
  }
}

/* If you don't specify anything it targets all of the media types */
@media (max-width: 500px) and (orientation: landscape) {
  body {
    background-color: lightgreen;
  }
}

/* Minimum width to start with is 800 pixels */
@media (min-width: 800px) {
  body {
    background-color: royalblue;
  }
}
