*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --spacing-medium: 8px;
  --spacing-regular: 16px;
  --font-small: 0.5rem;
  --font-regular: 1rem;
  --font-large: 2rem;
  --font-xl: 4rem;
  --font-semibold: 600;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: var(--spacing-medium);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  margin: auto;
}

/* mobile first approach */

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'search search'
    'current current'
    'hourly hourly'
    'fiveday fiveday'
    'feelslike humidity';
  gap: var(--spacing-regular);
}

.container,
.container > article {
  border: 1px solid;
  border-radius: var(--spacing-regular);
  padding: var(--spacing-regular);
}
/* styles related to current weahter data */

#current-forecast {
  grid-area: current;
  text-align: center;
}

#current-forecast .temp {
  font-size: var(--font-xl);
}

#current-forecast .description {
  text-transform: capitalize;
}

#current-forecast .description,
#current-forecast .min-max-temp {
  font-size: var(--font-regular);
  font-weight: var(--font-semibold);
}

#hourly-forecast {
  grid-area: hourly;
}

#five-day-forecast {
  grid-area: fiveday;
}

#feels-like {
  grid-area: feelslike;
}

#humidity {
  grid-area: humidity;
}
