
* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr auto;

  /* Defines named grid areas */
  grid-template-areas:
    'header header header header'
    /* specify an empty area */
    /* '. content content content' */
    'sidenav content content content'
    'footer footer footer footer';
  height: 100vh;
}

.container > * {
  padding: 16px;
  display: grid;
  font-size: x-large;
  font-weight: 600;
  color: darkslateblue;
  place-items: center;
}

header {
  background-color: cadetblue;
  /* Places this item in the "header" area */
  grid-area: header;
}
main {
  background-color: cornflowerblue;
  /* Places this item in the "content" area */
  grid-area: content;
}
aside {
  background-color: darkkhaki;
  /* Places this item in the "sidebar" area */
  grid-area: sidenav;
}
footer {
  background-color: violet;
  /* Places this item in the "footer" area */
  grid-area: footer;
}

@media (width <= 500px) {
  .container {
    grid-template-areas:
      'header header header header'
      'content content content content'
      'footer footer footer footer';
    height: 100vh;
  }
  .container aside {
    display: none;
  }
}
